<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Weather Conch</title>
	</head>
	<body>
		<h1>Welcome to Weather Conch</h1>
		<form action="/" method="POST">
			<label for="city">Enter a city:</label>
			<input type="text" name="city" required placeholder="ie. New York" />
			<br />
			<fieldset>
                <legend>Units</legend>
                <input type="radio" name="units" value="metric" checked> Metric
                <input type="radio" name="units" value="imperial"> Imperial
            </fieldset>
            <br />
            <label for="api">Enter your API Key:</label>
            <input type="text" name="api" required/>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
