* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Inter", sans-serif;
}

body {
	background: linear-gradient(0deg, #4f96b0 0%, #ffffff 100%);
}

.form-container,
.status-container,
.form-container > form,
.form-container > form > fieldset {
	display: flex;
	align-items: center;
}

.form-container > form > p > a,
.form-container > form > label,
.form-container > form > button {
	font-weight: bold;
}

.form-container,
.status-container {
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.form-container > h1 {
	font-size: 3rem;
}

.form-container > h2,
.form-container > form > fieldset {
	font-size: 2rem;
}

.form-container > form {
	background-color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: fit-content;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 10px;
}

.form-container > form > label {
	font-size: x-large;
}

.form-container > form > fieldset {
	width: 65%;
	text-align: center;
	padding-bottom: 10px !important;
	font-family: "Inter", sans-serif;
	font-size: 0.9rem !important;
	justify-content: center;
	flex-direction: column;
	border-radius: 30px;
}

#city,
#api {
	margin-top: 0;
	width: 225px;
	height: 27px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.3rem;
	border: 1px solid #4f96b0;
}

.form-container > form > button,
.status-container > form > button {
	background-color: #4f96b0;
	margin-top: 15px;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	width: 275px;
	height: 30px;
	font-size: 1.4rem;
	transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-container > form > p {
	margin-top: 10px;
}

.form-container > form > p > a {
	text-decoration: none;
	color: #4f96b0;

	transition: color 0.3s ease-in-out;
}

.form-container > form > p > a:hover {
	color: #0077b5;
}

.form-container > form > button:hover,
.status-container > form > button:hover {
	opacity: 0.8;
	box-shadow: 0 0 10px rgba(29, 27, 27, 0.3);
}

/* Status Container */

.weather-container {
	background: radial-gradient(#0bd1f4 60%, #80fffc 80%);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: fit-content;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
}

.weather-container > h2 {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: thick double #20373f;
	border-radius: 10px;
}

.weather-container > h1 {
	text-align: end;
}

.weather-container > h3 {
	font-size: 1.3rem;
	margin-top: 10px;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}
